__pycache__/
*.bin
mode_error.py
test_model.py
tests.ipynb
fever.py
feverous.py

# ─ Ignore every sub‐dir under runs/ by default ─
/runs/*

# ─ But don’t ignore any run folder ending in “_gold” ─
!/runs/*_gold/
!/runs/*_gold/**

# ─ And explicitly un‐ignore these exact runs ─
!/runs/freeze_mBERT_cased_PTBR_averitec_no_answers_LR_2e-5_2kepochs/
!/runs/freeze_mBERT_cased_PTBR_averitec_no_answers_LR_2e-5_2kepochs/**
!/runs/freeze_mBERT_cased_PTBR_averitec_answer_LR_2e-5_1kepochs/
!/runs/freeze_mBERT_cased_PTBR_averitec_answer_LR_2e-5_1kepochs/**
!/runs/mBERT_cased_PTBR_averitec_no_answer_LR_2e-5_2kepochs/
!/runs/mBERT_cased_PTBR_averitec_no_answer_LR_2e-5_2kepochs/**
!/runs/mBERT_cased_PTBR_averitec_answers_LR_2e-5_2kepochs/
!/runs/mBERT_cased_PTBR_averitec_answers_LR_2e-5_2kepochs/**
!/runs/freeze_BERTimbau_LARGE_PTBR_no_answer_averitec_LR_2e-5_2kepochs/
!/runs/freeze_BERTimbau_LARGE_PTBR_no_answer_averitec_LR_2e-5_2kepochs/**
!/runs/freeze_BERTimbau_LARGE_PTBR_answer_averitec_LR_2e-5_2kepochs/
!/runs/freeze_BERTimbau_LARGE_PTBR_answer_averitec_LR_2e-5_2kepochs/**
!/runs/BERTimbau_LARGE_PTBR_no_answer_averitec_LR_5e-5_2kepochs/
!/runs/BERTimbau_LARGE_PTBR_no_answer_averitec_LR_5e-5_2kepochs/**
!/runs/BERTimbau_LARGE_PTBR_answer_averitec_LR_5e-5_2kepochs/
!/runs/BERTimbau_LARGE_PTBR_answer_averitec_LR_5e-5_2kepochs/**
!/runs/freeze_BERT_LARGE_cased_PTBR_averitec_no_answer_LR_2e-5_2kepochs/
!/runs/freeze_BERT_LARGE_cased_PTBR_averitec_no_answer_LR_2e-5_2kepochs/**
!/runs/freeze_BERT_LARGE_cased_PTBR_averitec_answer_LR_2e-5_2kepochs/
!/runs/freeze_BERT_LARGE_cased_PTBR_averitec_answer_LR_2e-5_2kepochs/**
!/runs/BERT_LARGE_cased_PTBR_averitec_no_answer_LR_2e-5_2kepochs/
!/runs/BERT_LARGE_cased_PTBR_averitec_no_answer_LR_2e-5_2kepochs/**
!/runs/BERT_LARGE_cased_PTBR_averitec_answer_LR_2e-5_2kepochs/
!/runs/BERT_LARGE_cased_PTBR_averitec_answer_LR_2e-5_2kepochs/**
!/runs/freeze_mBERT_cased_ENG_averitec_no_answer_LR_2e-5_2kepochs/
!/runs/freeze_mBERT_cased_ENG_averitec_no_answer_LR_2e-5_2kepochs/**
!/runs/freeze_mBERT_cased_ENG_averitec_answer_LR_2e-5_2kepochs/
!/runs/freeze_mBERT_cased_ENG_averitec_answer_LR_2e-5_2kepochs/**
!/runs/mBERT_cased_ENG_averitec_no_answer_LR_2e-5_2kepochs/
!/runs/mBERT_cased_ENG_averitec_no_answer_LR_2e-5_2kepochs/**
!/runs/mBERT_cased_ENG_averitec_answer_LR_2e-5_2kepochs/
!/runs/mBERT_cased_ENG_averitec_answer_LR_2e-5_2kepochs/**
!/runs/freeze_BERT_LARGE_cased_ENG_averitec_no_answer_LR_2e-5_2kepochs/
!/runs/freeze_BERT_LARGE_cased_ENG_averitec_no_answer_LR_2e-5_2kepochs/**
!/runs/freeze_BERT_LARGE_cased_ENG_averitec_answer_LR_2e-5_2kepochs/
!/runs/freeze_BERT_LARGE_cased_ENG_averitec_answer_LR_2e-5_2kepochs/**
!/runs/BERT_LARGE_cased_ENG_averitec_no_answer_LR_2e-5_2kepochs/
!/runs/BERT_LARGE_cased_ENG_averitec_no_answer_LR_2e-5_2kepochs/**
!/runs/BERT_LARGE_cased_ENG_averitec_answer_LR_2e-5_2kepochs/
!/runs/BERT_LARGE_cased_ENG_averitec_answer_LR_2e-5_2kepochs/**